{% extends 'base.html' %}

{% block title %}Clim-Warn Early warning platform - UNEP{% endblock title %}
{% block extra_head %}
<link rel="stylesheet" href="http://openlayers.org/en/v3.0.0/css/ol.css" type="text/css">
<script src="{{ STATIC_URL }}js/jquery-1.11.2.min.js" type="text/javascript"></script>
<script src="http://openlayers.org/en/v3.3.0/build/ol.js" type="text/javascript"></script>
<script src="{{ STATIC_URL }}js/ol3-layerswitcher.js" type="text/javascript"></script>


<style>

.vcenter {
        display: inline-block;
        vertical-align: middle;
        float: none;
    }
    
.column{
float:left;
width:550px;
height:300px;
padding:20px;
overflow-y:hidden;

}
.ol_legend {
    bottom: 0px; left: 0px; position: absolute; background-color: #FFFFFF;
    }

</style>
{% endblock extra_head %}

{% block main_content %}
 <div class="container-fluid">
 	<div class="row">
 		<div class="col-xs-4 vcenter">
 			<h3>Drought Early Warning Platform</h3>
 		</div>
 		<div class="col-xs-4 vcenter">&nbsp;
 		</div>
 		<div class="col-xs-4 vcenter">
 		</div>
 	</div>
 	<div class="row">
 		<div role="tabpanel">
 			<ul class="nav nav-tabs" id="tablist">
                <li role="presentation" class="active"><a href="#national" aria-controls="national" role="tab" data-toggle="tab">National</a></li>
 				<li role="presentation"><a href="#datespecific" aria-controls="datespecific" role="tab" data-toggle="tab">Turkana March 2011 Dekadal 3</a></li>
 				<li role="presentation"><a href="#animation" aria-controls="animation" role="tab" data-toggle="tab">2011 Animation</a></li>
                <a class ="pull-right" href="/flood">Go to flood</a>
 			</ul>
            
 			<div class="tab-content">
                <div role="tabpanel" class="tab-pane fade in active" id="national">
                    <div class="row">
                        <div class="col-md-9">
                            <h4 align="center">National</h4>
                            <div id="nat_map"></div>      
                        </div>
                        <div class="col-md-3">
                            <div>&nbsp;</div>
                            <img src="http://maps.virtualkenya.org/geoserver/wms?REQUEST=GetLegendGraphic&VERSION=1.0.0&FORMAT=image/png&WIDTH=5&HEIGHT=5&LAYER=geonode:ke_wards_spi_2014_ond&legend_options=fontName:Times%20New%20Roman;fontAntiAliasing:true;fontColor:0x000033;fontSize:4;bgColor:0xFFFFEE;dpi:180" />
                        </div>
                    </div>
                </div>
        
 				<div role="tabpanel" class="tab-pane fade" id="datespecific">
                    <div class="row">
                        <div class="col-md-5">
                            <h4>Hazard</h4>
                            <div id="map"></div>
                            <div class="pull-right">
                            <img src = "http://maps.virtualkenya.org/geoserver/wms?REQUEST=GetLegendGraphic&VERSION=1.0.0&FORMAT=image/png&WIDTH=5&HEIGHT=5&LAYER=geonode:turkana_spi_2014_ond&legend_options=fontName:Times%20New%20Roman;fontAntiAliasing:true;fontColor:0x000033;fontSize:4;bgColor:0xFFFFEE;dpi:180"/>
                            </div>
                        </div>
                        <div class="col-md-5">
                            <h4>Vulnerability</h4>
                            <div id="map_2"></div> 
                            <div class="pull-right">
                                <img src = "http://maps.virtualkenya.org/geoserver/wms?REQUEST=GetLegendGraphic&VERSION=1.0.0&FORMAT=image/png&WIDTH=10&HEIGHT=10&LAYER=geonode:vulnerability_classified&legend_options=fontName:Times%20New%20Roman;fontAntiAliasing:true;fontSize:12;"/>
                            </div>                           
                        </div>
                        <div class="col-md-2">
                            <div>&nbsp;</div>
                            <form method="POST">{% csrf_token %}
                                <input type="hidden" name="alert_type" value="SMS">
                                <input type="hidden" name="hazard_type" value="Drought">
                                <button type="submit" class="btn btn-md btn-block btn-default">
                                    Send SMS
                                </button>
                            </form>
                            <div>&nbsp;</div>
                            <form method="POST">{% csrf_token %}
                                <input type="hidden" name="alert_type" value="EMAIL">
                                <input type="hidden" name="hazard_type" value="Drought">
                                <button type="submit" class="btn btn-md btn-block btn-default">
                                    Send Email
                                </button>
                            </form>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-5">
                            <h4>Risk</h4>
                            <div id="map_3"></div>
                            <div class="pull-right">
                                <img src="http://maps.virtualkenya.org/geoserver/wms?REQUEST=GetLegendGraphic&VERSION=1.0.0&FORMAT=image/png&WIDTH=10&HEIGHT=10&LAYER=geonode:dr_03_dek3&legend_options=fontName:Times%20New%20Roman;fontAntiAliasing:true;fontColor:0x000033;fontSize:7;bgColor:0xFFFFEE;dpi:180"/>
                            </div>
                        </div>
                        <div class="col-md-5">
                            <h4>User</h4>
                            <div id="map_4"></div>
                        </div>
                    </div>
 				</div>
 				<div role="tabpanel" class="tab-pane fade" id="animation">
                    <h4>SPI/Drought Animation (OND, 1982-2014)</h4>
                    <div class="col-md-9">
                        <img src="{{ STATIC_URL }}img/output_Qru0Kd.gif">
                    </div>
                    <div class="col-md-3">
                        <img src="http://maps.virtualkenya.org/geoserver/wms?REQUEST=GetLegendGraphic&VERSION=1.0.0&FORMAT=image/png&WIDTH=20&HEIGHT=20&LAYER=geonode:turkana_spi_2014_ond&legend_options=fontName:Times%20New%20Roman;fontAntiAliasing:true;fontColor:0x000033;fontSize:10;bgColor:0xFFFFEE;dpi:180" />
                    </div>
 				</div>
 			</div> 			
 		</div>
 	</div>
 </div>
<script src="{{ STATIC_URL }}js/bootstrap.min.js" type="text/javascript"></script>
<script src="{{ STATIC_URL }}js/national_map.js"></script>
<script src="{{ STATIC_URL }}js/first_map.js"></script>
<script src="{{ STATIC_URL }}js/second_map.js"></script>
<script src="{{ STATIC_URL }}js/third_map.js"></script>
<script src="{{ STATIC_URL }}js/fourth_map.js"></script>
<script type="text/javascript">
 $('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
  $('#map div').empty(); 
  $('#map_2 div').empty();
  $('#map_3 div').empty();
  $('#map_4 div').empty(); 
  firstmap()
  secondmap()
  thirdmap()
  fourthmap()
});
</script>

{% endblock main_content %}
