{% extends 'base.html' %}

{% block title %}Clim-Warn Early warning platform - UNEP{% endblock title %}
{% block extra_head %}
<link rel="stylesheet" href="http://openlayers.org/en/v3.0.0/css/ol.css" type="text/css">
<script src="{{ STATIC_URL }}js/jquery-1.11.2.min.js" type="text/javascript"></script>
<script src="{{ STATIC_URL }}js/bootstrap.min.js" type="text/javascript"></script>
<script src="{{ STATIC_URL }}js/ol.js"></script>
<script src="{{ STATIC_URL }}js/ol3-layerswitcher.js"></script>
<script src="{{ STATIC_URL }}js/layerswitcher.js"></script>
<script src="http://openlayers.org/en/v3.0.0/build/ol.js" type="text/javascript"></script>

<script type='text/javascript'>

    $(document).ready(function () {
    $('#tablist').tab();
        });

    var first_map, second_map, third_map 

    function init(){
    first_map_dub = new ol.Map({
        target:'map_dub',
        layers: [new ol.layer.Group({
            title: 'Base Maps',
            layers: [
            new ol.layer.Tile({
                title: 'OSM',
                visible: true,
                source: new ol.source.OSM()
                    })
                ]
            }),
            new ol.layer.Group({
                title: 'Overlays',
                layers:[ new ol.layer.Tile({
                    title: 'Drought Turkana',
                    source: new ol.source.TileWMS({
                        url: 'http://maps.virtualkenya.org/geoserver/wms',
                        params: {'LAYERS': ''},
                        serverType: 'geoserver' })
                     })
                ]
            })
        ],
        view: new ol.View({
            projection: 'EPSG:3857',
            center:[4206847, 50232],
            zoom:5
            })
    });
    
    second_map_dub = new ol.Map({
        target:'map_2_dub',
        layers: [new ol.layer.Group({
            title: 'Base Maps',
            layers: [
            new ol.layer.Tile({
                title: 'OSM',
                type: 'base',
                visible: true,
                source: new ol.source.OSM()
                    })
                ]
            })
         ]   
    });
    
    third_map_dub= new ol.Map({
        target:'map_3_dub',
        layers: [new ol.layer.Group({
            title: 'Base Maps',
            layers: [
            new ol.layer.Tile({
                title: 'OSM',
                type: 'base',
                visible: true,
                source: new ol.source.OSM()
                    })
                ]
            })
            
        ]
    });
    four_map_dub= new ol.Map({
        target:'map_4_dub',
        layers: [new ol.layer.Group({
            title: 'Base Maps',
            layers: [
            new ol.layer.Tile({
                title: 'OSM',
                type: 'base',
                visible: true,
                source: new ol.source.OSM()
                    })
                ]
            })
        ]
    });
    second_map_dub.bindTo('view', first_map_dub);
    third_map_dub.bindTo('view', first_map_dub);
    four_map_dub.bindTo('view', first_map_dub);

    first_map = new ol.Map({
        target:'map',
        layers: [new ol.layer.Group({
            title: 'Base Maps',
            layers: [
            new ol.layer.Tile({
                title: 'OSM',
                visible: true,
                source: new ol.source.OSM()
                    })
                ]
            }),
            new ol.layer.Group({
                title: 'Overlays',
                layers:[ new ol.layer.Tile({
                    title: '- NDVI',
                    type: 'base',
                    source: new ol.source.TileWMS({
                        url: 'http://maps.virtualkenya.org/geoserver/wms',
                        params: {'LAYERS': 'geonode:ndvianom_2011_apr_dek1'},
                        serverType: 'geoserver' })
                     }),
                new ol.layer.Tile({
                            title: '- Hazard',
                            type: 'base',
                            source: new ol.source.TileWMS({
                            url: 'http://maps.virtualkenya.org/geoserver/wms',
                            params: {'LAYERS': 'geonode:spi_201103_dek1 '},
                            serverType: 'geoserver' })
                            }),
                    new ol.layer.Tile({
                            title: '- Anom',
                            type: 'base',
                            source: new ol.source.TileWMS({
                            url: 'http://maps.virtualkenya.org/geoserver/wms',
                            params: {'LAYERS': 'geonode:spi_201103_dek1 '},
                            serverType: 'geoserver' })
                        }),
                    new ol.layer.Tile({
                            title: '- Aver',
                            type: 'base',
                            source: new ol.source.TileWMS({
                            url: 'http://maps.virtualkenya.org/geoserver/wms',
                            params: {'LAYERS': 'geonode:spi_201103_dek1 '},
                            serverType: 'geoserver' })
                        }),
                    new ol.layer.Tile({
                            title: '- Ita',
                            type: 'base',
                            source: new ol.source.TileWMS({
                            url: 'http://maps.virtualkenya.org/geoserver/wms',
                            params: {'LAYERS': 'geonode:spi_201103_dek1 '},
                            serverType: 'geoserver' })
                        }),
                    new ol.layer.Tile({
                            title: '- Spi',
                            type: 'base',
                            source: new ol.source.TileWMS({
                            url: 'http://maps.virtualkenya.org/geoserver/wms',
                            params: {'LAYERS': 'geonode:spi_201103_dek1 '},
                            serverType: 'geoserver' })
                        })
                ]
            })
        ],
        view: new ol.View({
            projection: 'EPSG:900913',
            center:[3930427, 359171],
            zoom:6
            })
    });
    
    second_map = new ol.Map({
        target:'map_2',
        layers: [new ol.layer.Group({
            title: 'Base Maps',
            layers: [
            new ol.layer.Tile({
                title: 'OSM',
                type: 'base',
                visible: true,
                source: new ol.source.OSM()
                    })
                ]
            }),
            new ol.layer.Group({
                title: 'Overlays',
                layers:[ new ol.layer.Tile({
                    title: 'Drought Turkana',
                    source: new ol.source.TileWMS({
                        url: 'http://maps.virtualkenya.org/geoserver/wms',
                        params: {'LAYERS': 'geonode:vulnerability_classified'},
                        serverType: 'geoserver' 
                            })
                     })
                ]
            })
        ]
    });
    
    third_map = new ol.Map({
        target:'map_3',
        layers: [new ol.layer.Group({
            title: 'Base Maps',
            layers: [
            new ol.layer.Tile({
                title: 'OSM',
                type: 'base',
                visible: true,
                source: new ol.source.OSM()
                    })
                ]
            }),
            new ol.layer.Group({
                title: 'Overlays',
                layers:[ new ol.layer.Tile({
                    title: 'Drought risk map',
                    source: new ol.source.TileWMS({
                        url: 'http://maps.virtualkenya.org/geoserver/wms',
                        params: {'LAYERS': 'geonode:dr_03_dek3'},
                        serverType: 'geoserver' 
                            })
                     })
                ]
            })
        ]
    });
    four_map = new ol.Map({
        target:'map_4',
        layers: [new ol.layer.Group({
            title: 'Base Maps',
            layers: [
            new ol.layer.Tile({
                title: 'OSM',
                type: 'base',
                visible: true,
                source: new ol.source.OSM()
                    })
                ]
            }),
            new ol.layer.Group({
                title: 'Overlays',
                layers:[ new ol.layer.Tile({
                    title: 'Drought Turkana',
                    source: new ol.source.TileWMS({
                        url: 'http://maps.virtualkenya.org/geoserver/wms',
                        params: {'LAYERS': 'geonode:drought_constituencies'},
                        serverType: 'geoserver' 
                            })
                     })
                ]
            })
        ]
    });
    second_map.bindTo('view', first_map);
    third_map.bindTo('view', first_map);
    four_map.bindTo('view', first_map);
    

    var layerSwitcher = new ol.control.LayerSwitcher();
    first_map.addControl(layerSwitcher);
    
}
</script>
<style>
    .vcenter {
        display: inline-block;
        vertical-align: middle;
        float: none;
    }
    
.column{
float:left;
width:550px;
height:300px;
padding:20px;
overflow-y:hidden;

}
</style>
{% endblock extra_head %}

{% block main_content %}
 <div class="container-fluid">
 	<div class="row">
 		<div class="col-xs-4 vcenter">
 			<h3>Drought Early Warning Platform</h3>
 		</div>
 		<div class="col-xs-4 vcenter">&nbsp;
 		</div>
 		<div class="col-xs-4 vcenter">
 		</div>
 	</div>
 	<div class="row">
 		<div role="tabpanel">
 			<ul class="nav nav-tabs" role="tablist">
 				<!--li role="presentation"><a href="#today" aria-controls="today" role="tab" data-toggle="tab">Today</a></li-->
 				<li role="presentation" class="active"><a href="#datespecific" aria-controls="datespecific" role="tab" data-toggle="tab">Turkana 2011</a></li>
 				<li role="presentation"><a href="#animation" aria-controls="animation" role="tab" data-toggle="tab">Animation</a></li>
 			</ul>
            
 			<div class="tab-content">
 				<div role="tabpanel" class="tab-pane fade" id="today">
                    <table>
                        <tr>
                            <td class="column" id="map_dub"><h4>Hazard<h4></td>
                            <td class="column" id="map_2_dub"><h4>Vulnerability<h4></td>
                        </tr>
                        <tr>
                            <td class="column" id="map_3_dub"><h4>Risk<h4></td>
                            <td class="column" id="map_4_dub"><h4>User<h4></td>
                        </tr>

                    </table>
                
                </div>
        
 				<div role="tabpanel" class="tab-pane active" id="datespecific">
                        <table>
                            <tr>
                                <td class="column" id="map"><h4>Hazard<h4></td>
                                <td class="column" id="map_2"><h4>Vulnerability<h4></td>
                                <td class="col-sm-1" align='right'>
                                    <form method="POST">{% csrf_token %}
                                        <input type="hidden" name="alert_type" value="SMS">
                                        <button type="submit" class="btn btn-md btn-block btn-default">
                                            Send SMS
                                        </button>
                                    </form>
                                    <form method="POST">{% csrf_token %}
                                        <input type="hidden" name="alert_type" value="EMAIL">
                                        <button type="submit" class="btn btn-md btn-block btn-default">
                                            Send Email
                                        </button>
                                    </form>
                                </td>
                            </tr>
                            <tr>
                                <td class="column" id="map_3"><h4>Risk<h4></td>
                                <td class="column" id="map_4"><h4>User<h4></td>
                                <td><img src="http://maps.virtualkenya.org/geoserver/wms?REQUEST=GetLegendGraphic&VERSION=1.0.0&FORMAT=image/png&WIDTH=20&HEIGHT=20&LAYER=geonode:dr_03_dek3&legend_options=fontName:Times%20New%20Roman;fontAntiAliasing:true;fontColor:0x000033;fontSize:14;bgColor:0xFFFFEE;dpi:180"/></td>
                            </tr>
                        </table>
 				</div>
 				<div role="tabpanel" class="tab-pane" id="animation">
 					<img src='http://maps.virtualkenya.org/geoserver/floodmaps/wms/animate?
service=WMS&version=1.1.0&request=GetMap&layers=floodmaps:floodmaps_2013&styles=&bbox=33.950770216537,0.055127873765,34.162714661151,0.155127873845&width=699&height=330&srs=EPSG:4326&format=image/gif;subtype=animated&format_options=gif_loop_continuously:true&time=2015-06-03,%202015-07-03,%202015-08-03,%202015-09-03'/>
 				</div>
 			</div> 			
 		</div>
 	</div>
 </div>

{% endblock main_content %}
