{% extends 'base.html' %}

{% block title %}Clim-Warn Early warning platform - UNEP{% endblock title %}
{% block extra_head %}
<link rel="stylesheet" href="http://openlayers.org/en/v3.0.0/css/ol.css" type="text/css">
<script src="{{ STATIC_URL }}js/jquery-1.11.2.min.js" type="text/javascript"></script>
<script src="{{ STATIC_URL }}js/bootstrap.min.js" type="text/javascript"></script>
<script src="http://openlayers.org/en/v3.0.0/build/ol.js" type="text/javascript"></script>
<script type='text/javascript'>

    jQuery(document).ready(function ($) {
    $('.nav-tabs').tab();
        });

    var first_map, second_map, third_map 

    function init(){
    first_map = new ol.Map({
        target:'map',
        view: new ol.View({
            projection: 'EPSG:900913',
            center:[3783258, 7880],
            zoom:13
        })
    });
    var newLayer = new ol.layer.Tile({
        source: new ol.source.OSM()
    });

    var wmsLayer = new ol.layer.Image({
        source: new ol.source.ImageWMS({
            url: 'http://maps.virtualkenya.org/geoserver/wms',
            params: {'LAYERS': 'geonode:_3mdepth'},
            serverType: 'geoserver' })
    });

    second_map = new ol.Map({
        target:'map_2'
    });
    
    var wmsLayer2 = new ol.layer.Image({
        source: new ol.source.ImageWMS({
            url: 'http://maps.virtualkenya.org/geoserver/wms',
            params: {'LAYERS': 'geonode:depth3shape'},
            serverType: 'geoserver' })
    });
    second_map.bindTo('view', first_map);

    third_map = new ol.Map({
        target:'map_3'
    });
    var wmsLayer3 = new ol.layer.Image({
        source: new ol.source.ImageWMS({
            url: 'http://maps.virtualkenya.org/geoserver/wms',
            params: {'LAYERS': 'geonode:flood_homes'},
            serverType: 'geoserver' })
    });
    third_map.bindTo('view', first_map);

    first_map.addLayer(newLayer);
    first_map.addLayer(wmsLayer);
    second_map.addLayer(newLayer);
    second_map.addLayer(wmsLayer2);
    third_map.addLayer(newLayer);
    third_map.addLayer(wmsLayer3);

    first_map_dup = new ol.Map({
        target:'map_dup'
    });
    first_map_dup.bindTo('layergroup', first_map);
    first_map_dup.bindTo('view', first_map);

    second_map_dup = new ol.Map({
        target:'map_2_dup'
    });
    second_map_dup.bindTo('layergroup', second_map);
    second_map_dup.bindTo('view', first_map);

    third_map_dup = new ol.Map({
        target:'map_3_dup'
    });
    third_map_dup.bindTo('layergroup', third_map);
    third_map_dup.bindTo('view', first_map);
}
</script>
<style>
    .vcenter {
        display: inline-block;
        vertical-align: middle;
        float: none;
    }

</style>
{% endblock extra_head %}

{% block main_content %}
 <div class="container">
 	<div class="row">
 		<div class="col-xs-4 vcenter">
 			<h3>Flood Early Warning Platform</h3>
 		</div>
 		<div class="col-xs-4 vcenter">
 			<form class="form-horizontal">
 				<div class="form-group">
 					<select id="location" class="form-control">
 						<option>Turkana</option>
 					</select>
 				</div>
 			</form>
 		</div>
 		<div class="col-xs-4 vcenter">
 		</div>
 	</div>
 	<div class="row">
 		<div role="tabpanel">
 			<ul class="nav nav-tabs" role="tablist">
 				<li role="presentation" class="active"><a href="#today" aria-controls="today" role="tab" data-toggle="tab">Today</a></li>
 				<li role="presentation"><a href="#datespecific" aria-controls="datespecific" role="tab" data-toggle="tab">Specific Date</a></li>
 				<li role="presentation"><a href="#animation" aria-controls="animation" role="tab" data-toggle="tab">Animation</a></li>
 			</ul>
 			<div class="tab-content">
 				<div role="tabpanel" class="tab-pane active" id="today">
                        <div id="map" class="col-xs-6 col-sm-4">
                            <h4>Flood severity</h4>
                        </div>
                        <div id="map_2" class="col-xs-6 col-sm-4">
                            <h4>Vulnerability</h4>
                        </div>
                        <div id="map_3" class="col-xs-6 col-sm-4">
                            <h4>Flood risk</h4>
                        </div>
                </div>
 				<div role="tabpanel" class="tab-pane fade" id="datespecific">
 					<div id="map_dub" class="col-xs-6 col-sm-4">
                            <h4>Flood severity</h4>
                        </div>
                        <div id="map_2_dub" class="col-xs-6 col-sm-4">
                            <h4>Vulnerability</h4>
                        </div>
                        <div id="map_3_dub" class="col-xs-6 col-sm-4">
                            <h4>Flood risk</h4>
                        </div>
 				</div>
 				<div role="tabpanel" class="tab-pane fade" id="animation">
 					animation tab
 				</div>
 			</div> 			
 		</div>
 	</div>
 </div>
{% endblock main_content %}
